{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content_wrapper %}
    <div class="section section-stretch section-lightgray">

        <div class="container">
            <h1 class="tagline">{{ self.slogan }}</h1>
        </div>

        <div id="carousel-main" class="carousel slide" style="border-radius: 40px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-main" data-slide-to="1"></li>
                <li data-target="#carousel-main" data-slide-to="2"></li>
{#                <li data-target="#carousel-main" data-slide-to="3"></li>#}
            </ol>

            <!-- Mask -->
            <div class="carousel-mask"></div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% if page.carousel_items.all %}
                    {% for item in page.carousel_items.all %}
                        <div class="item{% if forloop.first %} active{% endif %}">
                            <a href="{% url item.link %}">
                                {% image item.image original %}
                            </a>

                            <div class="carousel-caption">
                                <a class="btn btn-lg" href="{% url 'dance:home' %}">{{ item.caption }}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-main" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-main" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>

    </div>
    <div class="section-end section-end-lightgrey"></div>

    <div class="row section section-grey">
        <div class="section-end section-end-grey"></div>
        <div class="jumbotron text-center">
            {{ page.body|richtext }}

            <p>
                <a class="btn btn-primary btn-lg" href="{% url 'contact:home' %}">contact &raquo;</a>
            </p>

            <div class="well">
                {{ self.box|richtext }}
            </div>
        </div>
    </div>
{% endblock %}


{% block extra-script %}
    <script>
        $('#carousel-main').carousel()
    </script>
{% endblock %}
