{% extends 'base.html' %}

{% block title %}
    TODO: title
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}

    <div class="section section-stretch section-lightgray">

        <h1 class="tagline"><i>TODO: quote</i></h1>
    </div>

    <div class="section-end section-end-lightgrey"></div>

    <div class="section section-lightgray" style="padding-top: 0px;">
        <div id="vcard" class="jumbotron">
            <div class="row" style="text-align: center">
                <div class="col-xs-12">
                    <a href="{% url 'pages:contact' %}">
                        <img src="http://placehold.it/256x256"
                             class="img-circle img-responsive">
                    </a>
                </div>
                <div class="col-lg-12">
                    <h1>TODO: title</h1>

                    <p>
                        TODO: add some text here
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra-script %}
{% endblock %}